{% extends "base.html" %}

{% block title %}New Member{% endblock %}

{% block content %}
    {% if success_message %}
    <div class="row">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Success!</strong> {{ success_message }}
        </div> 
    </div>
    {% endif %}

    <div class="row success-message" style="display: none;">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Success!</strong> New members added.
        </div> 
    </div>

    <div class="row mt">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="showback">
                <h1>Add New Member</h1>
                <form action="{% url 'users:new' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-theme" type="submit" value="Add" />
                </form>
            </div>

            <div class="showback">
                <h1>Upload Members (.xlsx)</h1>

                <h4>How to upload?</h4>
                <p>File type has to be <strong>.xlsx</strong> and first row <u>must</u> and <u>only</u> has the headings:</p>
                <p>
                    <strong>name</strong>, 
                    <strong>email</strong>,
                    <strong>contact</strong> and 
                    <strong>matric_number</strong>
                </p>

                <button type="button" class="btn btn-theme" onclick="uploadMember(this);"><i class="fa fa-upload"></i> Upload file</button>
            </div>
        </div>
    </div>
{% endblock %}